config global
    option chipset          'sx1302'
    option enabled          '0'

config sx1302
    option model            'rak_5146'
    option region           'EU868'
    option channel_plan     'eu868'
    option gnss             '0'
    option usb              '1'
    option antenna_gain     '2'
    option event_bind       'ipc:///tmp/concentratord_slot2_event'
    option command_bind     'ipc:///tmp/concentratord_slot2_command'
    option com_dev_path      '/dev/ttyACM1'

config 2g4
    option model            'rak_5148'
    option region           'ISM2400'
    option channel_plan     'ism2400'
    option antenna_gain     '2'
    option event_bind       'ipc:///tmp/concentratord_slot2_event'
    option command_bind     'ipc:///tmp/concentratord_slot2_command'
    option com_dev_path      '/dev/ttyACM1'
