config global
    option enabled          '0'
    option chipset          'sx1302'

config sx1302
    option model            'seeed_wm1302'
    option region           ''
    option channel_plan     ''
    option gnss             0
    option usb              0
    option antenna_gain     '2'
    option event_bind       'ipc:///tmp/concentratord_event'
    option command_bind     'ipc:///tmp/concentratord_command'
    option com_dev_path     '/dev/spidev0.1'
    option i2c_dev_path     '/dev/i2c-0'
    option sx1302_reset_pin '14'
    option sx1302_power_en_pin '3'
    option sx1261_reset_pin '15'
