config global 'global'
    option enabled                  '0'
    option region                   'eu868'

config mesh 'mesh'
    option  signing_key             '00000000000000000000000000000000'
    option  border_gateway          '0'
    option  tx_power                '16'
    option  max_hop_count           '1'
    option  region                  'eu868'
    list    frequency               '868100000'
    list    frequency               '868300000'
    list    frequency               '868500000'

config mesh_data_rate 'mesh_data_rate'
    option  modulation              'LORA'
    option  spreading_factor        '7'
    option  bandwidth               '125000'
    option  code_rate               '4/5'
    option  bitrate                 '50000'

config backend_concentratord 'backend_concentratord'
    option  event_url               'ipc:///tmp/concentratord_event'
    option  command_url             'ipc:///tmp/concentratord_command'

config backend_mesh_concentratord 'backend_mesh_concentratord'
    option  event_url               'ipc:///tmp/concentratord_event'
    option  command_url             'ipc:///tmp/concentratord_command'
