config global
    option chipset          'sx1302'

config sx1301
    option model            'imst_ic880a'
    option region           'EU868'
    option channel_plan     'eu868'
    option gnss             0

config sx1302
    option model            'semtech_sx1302css868gw1'
    option region           'EU868'
    option channel_plan     'eu868'
    option gnss             0
    option usb              0

config 2g4
    option model            'semtech_sx1280z3dsfgw1'
