config network
    option net_id '000000'

config integration_mqtt 'integration_mqtt'
    option event_topic "application/{{application_id}}/device/{{dev_eui}}/event/{{event}}"
    option command_topic "application/{{application_id}}/device/{{dev_eui}}/command/{{command}}"
    option json "true"
    option server "tcp://127.0.0.1:1883/"
    option username ""
    option password ""
    option qos "0"
    option clean_session "false"
    option client_id ""
    option keep_alive_interval "30s"
