config global 'global'
    option enabled                  '0'
    option region                   'eu868'

config relay 'relay'
    option  border_gateway          '0'
    option  tx_power                '16'
    list    frequency               '868100000'
    list    frequency               '868300000'
    list    frequency               '868500000'

config relay_data_rate 'relay_data_rate'
    option  modulation              'LORA'
    option  spreading_factor        '7'
    option  bandwidth               '125000'
    option  code_rate               '4/5'
    option  bitrate                 '50000'

config backend_concentratord 'backend_concentratord'
    option  event_url               'ipc:///tmp/concentratord_event'
    option  command_url             'ipc:///tmp/concentratord_command'

config backend_relay_concentratord 'backend_relay_concentratord'
    option  event_url               'ipc:///tmp/concentratord_event'
    option  command_url             'ipc:///tmp/concentratord_command'
